* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  font-style: normal;
  background-color: rgb(87, 78, 78);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}